body{
	background-color: #090A29  ;
}



#futura1 {
	color:#FFFFFF;
	font-family: Roboto, Sans-serif;
	font-size:50px;
	margin-bottom:0px;

}

#futura2 {
	margin-top:0px;
	color:#FFFFFF;
	font-family: Roboto Thin, sans-serif;
font-size:20px;

}


#futura3 {
	margin-top:0px;
	color:#FFFFFF;
	font-family: Roboto Thin, sans-serif;
font-size:10px;

}
h2{
	color:#FFFFFF;
	font-family: Roboto, Sans-serif;
}

p{ 
	color:#FFFFFF;
	font-family: Helvetica, Sans-serif;

}
a:hover{
	background-color:#FFFFFF;
	color: #090A29;
}

a { 
  color: white;
  padding-left:100px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:100px;
  border: solid;
  border-width: 2px;
  border-radius:15px;
  text-align: center;
  text-decoration: none;
 }

#hometext{
	color:#FFFFFF;
}

#overall{
	margin-top:20px;
	margin-left: auto;
	margin-right:auto;
	width: 600px;
	height:750px;
	border:solid;
	border-color: #FFFFFF;
	background-color:#090A29;

}

#top{
width:600px;
height:210px;
background-color: #090A29;


}

#text{
	width: 600px;
	height: 100px;
	background-color: #090A29;


}


#desk{
width: 590px;
height:50px;
background-color:#090A29;
padding:5px;

}

#beach{
width: 600px;
height:50px;
float:left;
background-color: #090A29;
}


#seperate {
	width:600px;
	height:10px;
	float: left;
	background-color: #090A29;

	
}


